header {
  align-items: center;
  background-color: var(--primary) !important;
  border-bottom: solid 2.5px var(--secondary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 160px;
  padding: 0.4rem 2rem 0.8rem 1rem;
  position: relative;
}

.logo {
  height: 280px;
  overflow: hidden;
}

nav {
  margin-top: 100px;
  margin-right: 200px;

}

:host ::ng-deep .nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 1.2rem;
}

:host ::ng-deep .nav-link:hover {
  color: white !important;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

:host ::ng-deep .nav-item {
  margin-left: 10px;
}

/* Media Queries for Responsive Header */

@media (max-width: 1024px) {
  header {
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding: 1rem;
  }

  nav {
    margin-top: 0;
    margin-right: 0;
    justify-self: end;
  }

  .logo {
    height: 200px;
  }
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    justify-items: center;
    height: auto;
    padding: 1rem;
  }

  .logo {
    height: 150px;
    order: 1;
  }

  nav {
    order: 2;
    margin-top: 1rem;
    margin-right: 0;
  }

  :host ::ng-deep .nav-item {
    margin: 0 5px;
  }
}