.product-detail .card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.product-detail img {
  height: 100%;
  object-fit: cover;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.price-container {
  align-items: center;
  display: flex;
}

.category {
  font-style: italic;
}

.zoomed {
  transform: scale(1.05);
}

.btn-fakely {
  background-color: var(--secondary);
  color: white;
  width: 10rem;
}

.btn-fakely:hover {
  background-color: var(--secondary-dark);
  color: white;
}

.btn-fakely-primary {
  background-color: var(--primary) !important;
  color: white;
  border-color: none;  
  width: 10rem;
}


.btn-fakely-primary:hover {
  background-color: var(--primary-dark) !important;
  color: white !important;
}


@media (max-width: 768px) {
  .product-detail .row {
    flex-direction: column;
  }

  .card-title {
    display: block !important;
  }

  .product-detail .col-md-5,
  .product-detail .col-md-7 {
    width: 100%;
  }

  .product-detail img {
    max-height: 250px;
    border-radius: 0.25rem 0.25rem 0 0 !important;
  }
}