.card {
  align-items: center;
  border-radius: 4px;
  width: 90%;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-img-top {
  height: 300px;
  object-fit: contain;
  padding: 10px;
}

.card-body-fakely {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-fakely {
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
  margin-top: auto;
  width: 15rem;
}

.btn-fakely:hover {
  background-color: #ff5252;
}